<!-- navbar-->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand esmSite" href="#"><b>Find Your Job</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="collapse navbar-collapse nav-2" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/job-list" class="nav-link active" aria-current="page" href="#"><b>Find hourly job</b></a>
        </li>
        <li class="nav-item">
          <a routerLink="/job-form" class="nav-link active" aria-current="page" ><b>Post Job</b></a>
        </li>
        <li class="nav-item">
          <a href="" routerLink="/login"><button type="button" class="btn btn-light"><b>Log In</b></button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--End navbar-->
