<!--Banner-->
<div class="banner">
  <img src="../assets/images/hero-large-graffiti.jpg" class="homeFot" alt="">
  <h1 class="heading"><b>Find work you'll love, fast.</b></h1>
  <div class="wrap">
    <div class="search">
      <button class="btn-search" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
        </svg>
      </button>
      <input id="search" type="text" placeholder="Job title,company or industry"/>
       <!--<input type="text" class="searchTerm" placeholder="Job title,company or industry">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>-->
    </div>
 </div>

 <div class="div-bunner">
  <div class="div-bunner1">Experience the new way to work</div>
  <div class="div-bunner2">See jobs we've picked just for you</div>
  <div class="div-bunner3">
    <a routerLink="job-list"><button type="button" class="btn btn-primary button">Get started</button></a>
  </div>
</div>
</div>

