<br><table class="table-home">
  <tr>
    <td><img src="../assets/images/homepage/editorial-jobs-find-you.jpg" alt=""></td>
    <td>
      <h2>Let the jobs find you</h2>
      <h5>Create your free profile to get interview invites and jobs that work for you.</h5>
      <button type="button" class="btn btn-primary">Get Hired</button>
    </td>
  </tr>
  <tr>
    <td>
      <h2>Let the jobs find you</h2>
      <h5>Create your free profile to get interview invites and jobs that work for you.</h5>
      <button type="button" class="btn btn-primary">Get Hired</button>
    </td>
    <td><img src="../assets/images/homepage/editorial-jobs-find-you.jpg" alt=""></td>
  </tr>
  <tr>
    <td><img src="../assets/images/homepage/editorial-jobs-find-you.jpg" alt=""></td>
    <td>
      <h2>Let the jobs find you</h2>
      <h5>Create your free profile to get interview invites and jobs that work for you.</h5>
      <button type="button" class="btn btn-primary">Get Hired</button>
    </td>
  </tr>
  <tr>
    <td>
      <h2>Let the jobs find you</h2>
      <h5>Create your free profile to get interview invites and jobs that work for you.</h5>
      <button type="button" class="btn btn-primary">Get Hired</button>
    </td>
    <td><img src="../assets/images/homepage/editorial-jobs-find-you.jpg" alt=""></td>
  </tr>

</table>
